<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.first_name %></h1>
<p>
  Your password has been recovery successfully!
</p>
<p>
  Your new password is <strong><%= @user.password %></strong>
</p>
</body>
</html>